<h1>New Projects</h1>
<div>
<%= form_with model: [:admin, Project.new] do |f| %>
  <table class= 'table table-sm table-striped' >
    <tr>
      <td class='col-1'><%= f.label 'Name' %></td>
      <td class='col-11'><%= f.text_field :name, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= f.label 'Desc' %></td>
      <td><%= f.text_area :description, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= f.label 'X-axis' %></td>
      <td><%= f.text_field :x_axis, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= f.label 'Y-axis' %></td>
      <td><%= f.text_field :y_axis, class: 'form-control' %></td>
    </tr>
  </table>
  <%= f.submit 'Register', class: 'btn btn-primary' %>
<% end %>

</div>
