<h1>Emotional Evaluation</h1>
<script>var urls = [];</script>
<%= form_with model: Score.new, method: :post do |f| %>
  <div class="row mb-3" data-controller="projects-eval">
    <% @images&.each_with_index {|image,i| %>
      <div class="col-12 col-md-6 col-xl-4 mb-3">
        <img src="<%= image.url %>", class="col-12", id="image-<%= i %>" />
        <%= f.hidden_field "i#{i}", value: image.id, id: "img-#{i}" %>
        <div class="row">
          <div class="col-4 text-left my-2">- ←</div>
          <div class="col-4 text-center my-2" id="x_axis-<%= i %>">
            <%= @project.x_axis %></div>
          <div class="col-4 text-end my-2">→ +</div>
        </div>
        <div id="slider-x<%= i %>"></div>
        <%= f.hidden_field "x#{i}", value: 0.0, id: "val-x#{i}" %>
        <div class="row">
          <div class="col-4 text-left my-2">- ←</div>
          <div class="col-4 text-center my-2" id="y_axis-<%= i %>">
            <%= @project.y_axis %></div>
          <div class="col-4 text-end my-2">→ +</div>
        </div>
        <div id="slider-y<%= i %>"></div>
        <%= f.hidden_field "y#{i}", value: 0.0, id: "val-y#{i}" %>
      </div>
    <% } %>
    <div class="text-end mb-5">
      <%= f.submit 'Submit', class: 'btn btn-primary', id: 'submit' %>
    </div>
  </div>
<% end %>
