<h1>User <%= @user.fullname %>'s my page</h1>
<h2>Projects</h2>
<% if @projects.length > 0 %>
<div data-controller="admin">
  <table class='table table-sm table-striped'>
    <tr>
      <th class='col-1'>ID</th>
      <th class='col-8'>Project</th>
      <th class='col-3'></th></tr>
    <% @projects&.each { |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.name %></td>
        <td class="text-end">
          <% if (p.consent == nil || p.consent == "") || (p.consent2 == nil || p.consent == "") %>
            <%= link_to "#{octicon 'rocket', height: 24,
                           class: 'right left', 
                           'aria-label': 'rocket'}".html_safe,
                  consent_project_path(p), class: 'cursor-pointer' %>
          <% else %>
            <%= link_to "#{octicon 'rocket', height: 24,
                           class: 'right left', 
                           'aria-label': 'rocket'}".html_safe,
                  intro_project_path(p), class: 'cursor-pointer' %>
          <% end %>
            <%= link_to "#{octicon 'pencil', height: 24,
                           class: 'right left', 
                           'aria-label': 'pencil'}".html_safe,
                  edit_admin_project_path(p), class: 'cursor-pointer' %>
            <%= link_to "#{octicon 'trash', height: 24, 
                           class: 'right left', 
                           'aria-label': 'trash'}".html_safe,
                  admin_project_path(p),
                  class: 'cursor-pointer confirm-delete', method: :delete %></td>
      </tr>
    <% } %>
  </table>
</div>
<% end %>

<div class="mb-5">
  <%= link_to '+ New Project', new_admin_project_path, 
              class: 'btn btn-primary'%>
</div>
